<!DOCTYPE html>
<html lang="en" style="background-image: url(/static/post.jpg);background-repeat: no-repeat;
background-size: 100%;">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
        integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="columns is-centered mt-5">
        <div  class="column is-half is-4">
            <form method="post" enctype="multipart/form-data" class="box pb-3 pt-2"
                style="background-color: rgb(102, 102, 102)">

                {% csrf_token %}
                <h1 class="title is-4 has-text-white">Post</h1>
                Images {{form.post_image}} <br><br><br>
                Comment {{form.comment}}<br><br><br>
                Username {{form.author}}<br>
                <br>
                <button style="padding-left: 100px;padding-right: 100px; background-color: rgb(26, 133, 199);"
                    class="button is-primary is-danger">create</button>
            </form>
        </div>
    </div>

</body>

</html>
